.wrap {
    position: relative;
    width: 1000px;
    height: 1000px;
    border: 1px solid grey;
}

.square {
    position: absolute;
}

.rear {
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    background-color:#00a2ff;
    z-index: 2;
}

.rear:hover {
    background-color: rgb(172, 65, 65);
    z-index: 4;
}

.front{
    top: 37.2%;
    left: 37.2%;
    width: 25%;
    height: 25%;
    background-color:#fab904;
    border-radius: 15%;
    z-index: 3;
}

.circle {
    position: absolute;
    border-radius: 50%;
    z-index: 1;
    width: 25%;
    height: 25%;
    background-color: #ed220e;
}

.nw {
    top: 15%;
    left: 15%;
}

.nw:hover {
    background-color: blue;
    z-index: 3;
}

.ne {
    top: 15%;
    left: 62.5%;
}

.ne:hover {
    background-color: hotpink;
    z-index: 3;
}

.sw {
    top: 62.5%;
    left: 15%;
}

.sw:hover {
    background-color: rebeccapurple;
    z-index: 3;
}

.se {
    top: 62%;
    left: 62%;
}

.se:hover {
    background-color: lightskyblue;
    z-index: 3;
}
